net "a[0]" loc = "R17";  
net "a[1]" loc = "N17";  
net "a[2]" loc = "L13";  
net "a[3]" loc = "L14";  
net "b[0]" loc = "K17";  
net "b[1]" loc = "K18";  
net "b[2]" loc = "H18";  
net "b[3]" loc = "G18";  
net "p[0]" loc  = "R4" ; 
net "p[1]" loc  = "F4" ; 
net "p[2]" loc  = "P15" ; 
net "p[3]" loc  = "E17" ; 
net "p[4]" loc  = "K14" ; 
net "p[5]" loc  = "K15" ; 
net "p[6]" loc  = "J15" ; 
net "p[7]" loc  = "J14" ;